*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slideshow{
    background-color: rgb(201, 194, 194);
}
.ourproducts{
 border: 1px solid rgb(212, 20, 126);
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.product1{
 border: 1px solid rgb(128, 0, 28);
 text-align: center;
}
.product2{
 border: 1px solid rgb(207, 204, 24);
  text-align: center;
 margin-left: 20px;
 background-color: rgb(212, 211, 211);

}
.product3{
 border: 1px solid rgb(230, 121, 19);
  text-align: center;
 margin-left: 20px;

}
.product4{
 border: 1px solid rgb(162, 50, 214);
  text-align: center;
 margin-left: 20px;

}
.product5{
 border: 1px solid rgb(7, 1, 1);
  text-align: center;
 margin-left: 20px;

}
.product6{
    border: 1px solid green;
     text-align: center;
 margin-left: 20px;

}