.nav-list{
    display: flex;
}
.image{
    width: 100px;
}
h1{
    text-align: center;
}
.left{
    width: 35%;
    
}
p{
    /* padding-top: 50px; */
    text-align: center;
    padding-left: 100px;
}
#about{
    /* background-image: url(./images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    height: 75vh;


}
.image1{
    background-image: url(./images/online.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 75vh;
}
.items{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

}
.btn{
    margin-top: 250px;
}