@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/contact.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}

/* contact styling */
.get{
    width: 30%;
    height: 90vh;
    background-color: white;
    margin-left: 60%;
    margin-top: 2%;
    border: 1px solid white;
    border-radius: 15px;
    /* opacity: 0.5; */
}

.contact{
    width: 30%;
    height: 90vh;
    background-color: #353f48;
    margin-left: 20%;
    margin-top: -48%;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 15px;
    opacity: 0.5;
}

.get h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #353f48;
}

#form{
    margin-left: 10%;
    width: 60%;
    color: #060707;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.btn{
    margin-left: 50%;
}